*{
  margin:0;
  padding:0;
  font-family: 'Poppins',sans-serif;
}
.container{
  text-align: center;
  background-image:linear-gradient( #6699ff ,  #3652ff );
  background-repeat:no-repeat;
  width: 100%;
  height: 100vh;
}
.main{
  margin-top: 50px;
}
header{
  font-size:50px;
  text-transform:uppercase;
  font-weight: 900;
}
.nhap{
  margin-top: 10px;
}
.nhap1{
  max-width: 800px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: #ccc;
  padding:5px 10px;
  font-weight: 700;
}
#button1 {
  margin-top: 10px;
  width:75px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: tomato;
  color:white;
  display: inline-block;
  font-size:15px;
  font-weight: 600;
}
button:hover{
  background-color: red;
  color:black;
}
li{
  position: relative;
  margin:auto;
  margin-top: 20px;
  text-align: left;
  width: 100%;
  max-width: 900px;
  height: fit-content;
  background-color: white;
  padding: 10px 90px ;
  padding-left: 8px;
  
  border-radius: 2px;
  list-style-type: none;
  
}
label{
  display: inline-block;
  word-break: break-word;
  font-weight: 600;
  font-size:15px;
  padding-right: 90px;
}
.nutxoa1{
overflow: auto;
 position: absolute;
 right:10px;
 font-weight: normal;
 background: none;
 text-transform: uppercase;
 border: none;
 color: #025f70;
 font-weight: 800;
}
.nutxoa1:hover{
  background-color: white;
  color :red;
}
.an{
  display:none;
}
.gach1{ 
  overflow: auto;
  width: 16px;
  height: 1em;
  position: absolute;
  left:-20px;
}
.gach2{
  text-decoration: line-through;
}
.delete{
  margin-top: 10px;
  width:75px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: tomato;
  color:white;
  display: inline-block;
  font-size:15px;
  font-weight: 600;
}
#delete {
  margin-top: 10px;
  width:75px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: tomato;
  color:white;
  display: inline-block;
  font-size:15px;
  font-weight: 600;
}
#tickAll{
  margin-top: 10px;
  width:75px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: tomato;
  color:white;
  display: inline-block;
  font-size:15px;
  font-weight: 600;
}
.edit1{
  overflow: auto;
  position: absolute ;
  margin: auto;
  right:30px;
  width: 60px;
  height: 1.5em;
  
}
.editMode{
  display: none;
}
.editMode1{
  right:8px;
}

.chuaedit2{
  background-color: #ccc;
} 
